<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard</a>
      </li>
      <li class="divider"></li>
      <li *ngFor="let item of collections" class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="{{item.icon}}"></i> {{item.label}}</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-doc"></i> Show all</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-pencil"></i> New item</a>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Extras
      </li>
      <li *ngFor="let link of sidebarLinks" class="nav-item nav-dropdown" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> {{link.label}}</a>
        <ul class="nav-dropdown-items">
          <li *ngFor="let child of link.childs" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="[child.routerLink]"><i class="{{child.icon}}"></i> {{child.label}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
