<div class="animated fadeIn">
  <div class="row">

    <div *ngFor="let item of collections" class="col-sm-6 col-lg-3">
      <div class="card card-inverse" [ngStyle]="{ 'background-color': item.color }">
        <div class="card-block pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="{{item.icon}}"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">View all</a>
            </div>
          </div>
          <h4 class="mb-0">{{item.label}}</h4>
          <p>9.823</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">

        </div>
      </div>
    </div><!--/.col-->

  </div><!--/.row-->
</div>
